<li class="task">
    <% if task.complete? %>
    
    <div class= 'complete-task'>
      <span class='complete'><%= link_to task.title, task %></span>
      <span class="delete"> - <%= link_to 'Delete', task, method: :delete %></span>
        <div class="uncomplete-form">
          <%= form_for(task) do |f| %>
          <%= f.hidden_field :complete, value: false %>
          <%= f.submit "Uncomplete Task", class:"btn btn-primary" %>
          <% end %>
      </div>
    </div>  
      
    <% else %>
    
    <div class='incomplete-task'>
      <span class='incomplete'><%= link_to task.title, task %></span>
      <span class="delete"> - <%= link_to 'Delete', task, method: :delete %></span>
      <div class="complete-form">
        <%= form_for(task) do |f| %>
        <%= f.hidden_field :complete, value: 1 %>
        <%= f.submit 'Complete Task', class:'btn btn-primary' %>
        <% end %>
      </div>
    </div>  
    
    <% end %>
  </li>